html, body {
    width: 100%;
    height: 100%;
}
body {
    line-height: 1;
    margin: 0;
    padding: 0;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: transparent;
}
a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.container {
    background-color: var(--background-tertiary);
}
.guilds {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    width: 72px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    background-color: var(--background-tertiary);
    height: 100%;
}

.guild-entry-main {
    position: relative;
    margin: 0 0 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 72px;
    height:100%;
}
.guild-entry-item {
    position: relative;
    margin: 0 0 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    width: 72px;
}
.sidebar-channels {
    border-radius: 8px 0 0;
    overflow: hidden;
    flex-direction: column;
    min-height: 0;
    width: 240px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background: var(--background-secondary);
}
.container-2lgZY8 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.base, .sidebar-channels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    overflow: hidden;
}
.base {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 72px;
    right: 0;
    bottom: 0;
}
.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    min-width: 0;
    min-height: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.chat {
    min-width: 0;
    min-height: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: hidden;
    background: var(--background-primary);
}

.icon-1_QxNX {
    display: block;
    width: 20px;
    height: 20px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 6px;
}
.scrollerWrap-2lJEkd {
    min-height: 0;
    min-width: 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.scroller-2wx7Hm {
    z-index: 1;
}

.scroller-2FKFPG {
    position: relative;
    min-height: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.container-PNkimc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 0;
    position: relative;
    background-color: var(--background-secondary);
}
.guilds-1SWlCJ {
    position: absolute !important;
    top: 0;
    left: 0;
    bottom: 0;
}

.wrapper-1Rf91z {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 72px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    background-color: var(--background-tertiary);
}
nav {
    display: block;
}
.scrollerWrap-1IAIlv {
    width: 90px;
}
.scrollerWrap-2lJEkd {
    min-height: 0;
    min-width: 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.platform-win .scroller-2TZvBN {
    padding-top: 4px;
}
.scroller-2TZvBN {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 12px 0 0;
    overflow-x: hidden;
    background-color: var(--background-tertiary);
    contain: layout size;
}

.scroller-2FKFPG {
    position: relative;
    min-height: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.app-1q1i1E {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    z-index: auto;
}
.app-2rEoOp {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--background-tertiary);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.appMount-3lHmkl, body {
    background-color: var(--background-tertiary);
    text-rendering: optimizeLegibility;
}

.appMount-3lHmkl {
    position: absolute;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.appMount-3lHmkl, body, html {
    height: 100%;
    width: 100%;
}
.layers-3iHuyZ {
    position: relative;
    overflow: hidden;
}

.layers-3q14ss {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: hidden;
    min-width: 0;
    min-height: 0;
}
.layer-3QrUeG.baseLayer-35bLyl {
    background-color: transparent;
}

.platform-win .layer-3QrUeG {
    top: -22px;
    padding-top: 22px;
}
.layers-3iHuyZ>.layer-3QrUeG {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.layer-3QrUeG {
    background-color: var(--background-primary);
}
.typeWindows-1za-n7 {
}
.withFrame-haYltI {
    height: 18px;
    margin-top: 4px;
}

.titleBar-AC4pGV {
    z-index: 3001;
    -webkit-app-region: drag;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.horizontalReverse-3tRjY7 {
}
.directionRowReverse-m8IjIq {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.justifyStart-2NDFzi {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.alignStretch-DpGPf3 {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.flex-1O1GKY {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
a, button, div, input, select, span, strong, textarea {
    outline: 0;
}
.unreadMentionsIndicatorTop-gA6RCh {
    top: 0;
}

.unreadMentionsIndicatorTop-gA6RCh {
    padding-top: 8px;
}
.unreadMentionsIndicatorBottom-BXS58x, .unreadMentionsIndicatorTop-gA6RCh {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    overflow: hidden;
    padding: 8px;
    height: 40px;
    pointer-events: none;
    width: 72px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.base-3dtUhz, .sidebar-2K8pFh {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    overflow: hidden;
}

.base-3dtUhz {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 72px;
    right: 0;
    bottom: 0;
}
.content-98HsJk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    min-width: 0;
    min-height: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.chat-3bRxxu, .form-2fGMdU {
    position: relative;
}
.form-2fGMdU {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: -8px;
}
.form-2fGMdU:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: .5rem;
    width: 1.25rem;
    background: -webkit-gradient(linear,left top,left bottom,from(transparent),to(var(--background-primary)));
    background: linear-gradient(180deg,transparent 0,var(--background-primary));
}
.channelTextArea-rNsIhG {
    margin-bottom: 24px;
    background-color: var(--background-primary);
}
.scrollableContainer-2NUZem {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--channeltextarea-background);
    max-height: 144px;
    border-radius: 8px;
    scrollbar-width: none;
}
.inner-MADQqc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.textAreaSlate-1ZzRVj {
    padding: 0;
}
.textArea-12jD-V {
    background-color: transparent;
    resize: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    width: 100%;
    height: 44px;
    min-height: 44px;
    color: var(--text-normal);
    padding-left: 10px;
    padding-right: 10px;
}

.slateContainer-3Qkn2x {
    position: relative;
}

.channelTextArea-2VhZ6z {
    position: relative;
    width: 100%;
    text-indent: 0;
    border-radius: 8px;
}

.fontSize16Padding-3Wk7zP {
    padding-bottom: 11px;
    padding-top: 11px;
}

.placeholder-37qJjk, .slateTextArea-1Mkdgw {
    padding-left: 10px;
    padding-right: 10px;
}
.slateTextArea-1Mkdgw {
    caret-color: var(--text-normal);
    position: absolute;
    left: 0;
    right: 10px;
    text-align: left;
    word-break: break-word;
    white-space: break-spaces!important;
}
.markup-2BOw-j {
    font-size: 1rem;
    line-height: 1.375rem;
    white-space: pre-wrap;
    white-space: break-spaces;
    word-wrap: break-word;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    color: var(--text-normal);
    font-weight: 400;
}

.chat-3bRxxu {
    min-width: 0;
    min-height: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: hidden;
    background: var(--background-primary);
}
.container-1r6BKw.themed-ANHk51 {
    background: var(--background-primary);
}

.title-3qD0b- {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    z-index: 100;
}
.container-1r6BKw, .container-1r6BKw * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.container-1r6BKw {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 0;
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 48px;
    padding: 0 8px;
    overflow: hidden;
    font-size: 16px;
    line-height: 20px;
    cursor: default;
    z-index: 2;
    color: var(--text-normal);
}
.content-yTz4x3 {
    min-width: 0;
    min-height: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    position: relative;
}
.chatContent-a9vAAp {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.messagesWrapper-3lZDfY, .scroller-3sQKXg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.messagesWrapper-3lZDfY {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    z-index: 0;
}
.messages-3amgkR {
    margin: 0;
    overflow-x: hidden;
    background-color: var(--background-primary);
    contain: size;
}
.scroller-3sQKXg {
    overflow-anchor: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.messagesWrapper-3lZDfY, .scroller-3sQKXg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.scroller-2FKFPG {
    position: relative;
    min-height: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.compact-T3H92H.wrapper-2a6GCs, .cozy-3raOZG.wrapper-2a6GCs {
    padding-top: .125rem;
    padding-bottom: .125rem;
}
.compact-T3H92H.wrapper-2a6GCs {
    padding-left: 80px;
}
.wrapper-2a6GCs {
    position: relative;
    word-wrap: break-word;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 48px;
    min-height: 1.375rem;
}
.zalgo-jN1Ica.compact-T3H92H .contents-2mQqc9 {
    overflow: hidden;
}
.compact-T3H92H .contents-2mQqc9 {
    margin-left: -80px;
    padding-left: 80px;
    text-indent: calc(-80px - -1rem);
}
.compact-T3H92H .header-23xsNx {
    display: inline;
}
.compact-T3H92H .timestamp-3ZCmNB, .cozy-3raOZG .timestamp-3ZCmNB.alt-1uNpEt {
    text-align: right;
    font-size: 0.6875rem;
    line-height: 1.375rem;
    margin-right: .25rem;
    color: var(--text-muted);
    text-indent: 0;
}

.mouse-mode .timestamp-3ZCmNB {
    pointer-events: auto;
}
.timestamp-3ZCmNB.latin24CompactTimeStamp-2V7XIQ {
    width: 3.1rem;
}
.timestamp-3ZCmNB {
    display: inline-block;
    height: 1.25rem;
    cursor: default;
    pointer-events: none;
    font-weight: 500;
}
.compact-T3H92H .header-23xsNx .username-1A8OIy, .cozy-3raOZG .header-23xsNx .username-1A8OIy {
    margin-right: .25rem;
}
.separator-2nZzUB {
    position: absolute;
    opacity: 0;
    width: 0;
    display: inline-block;
    font-style: normal;
}
.username-1A8OIy {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
    color: var(--header-primary);
    display: inline;
    vertical-align: baseline;
}
.compact-T3H92H .messageContent-2qWWxC {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    display: inline;
    word-wrap: break-word;
}

.zalgo-jN1Ica .messageContent-2qWWxC {
    overflow: hidden;
}
.markup-2BOw-j {
    font-size: 1rem;
    line-height: 1.375rem;
    white-space: pre-wrap;
    white-space: break-spaces;
    word-wrap: break-word;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    color: var(--text-normal);
    font-weight: 400;
}
.messageContent-2qWWxC {
    text-indent: 0;
}
.group-spacing-0 .hasContent-1_DUdQ {
    margin-bottom: 1.5rem;
}
.content-1o0f9g {
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 2px 4px;
    color: var(--text-muted);
    background: var(--background-primary);
    line-height: 13px;
    font-size: 12px;
    margin-top: -1px;
    font-weight: 600;
    border-radius: 8px;
}
.hasContent-1cNJDh {
    position: relative;
    left: auto;
    right: auto;
}
.interactive {
    -webkit-transition: background-color 50ms ease-out,color 50ms ease-out;
    transition: background-color 50ms ease-out,color 50ms ease-out;
    cursor: pointer;
}
.mentioned-xhSam7 {
    position: relative;
    background-color: var(--background-mentioned);
}
.mentioned-xhSam7:before {
    background-color: #faa61a;
}

.localBot-GrCgVt:before, .mentioned-xhSam7:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    width: 2px;
}
.scroller-3sQKXg:after {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    pointer-events: none;
}
.hasMore-3e72_v {
    -webkit-box-shadow: inset 0 0 0 1px var(--background-modifier-accent);
    box-shadow: inset 0 0 0 1px var(--background-modifier-accent);
    color: #7289da;
    text-align: center;
    font-size: 12px;
    line-height: 32px;
    font-weight: 500;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
}
.wrapper-3WhCwL {
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
    unicode-bidi: -moz-plaintext;
    unicode-bidi: plaintext;
    color: #7289da;
    background: rgba(114,137,218,.1);
}
.mention {
    border-radius: 3px;
    padding: 0 2px;
}
.divider-JfaTT5 {
    z-index: 1;
    height: 0;
    border-top: thin solid var(--background-modifier-accent);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    pointer-events: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.hasContent-1_DUdQ {
    margin-top: 1.5rem;
}
.divider-3_HH5L {
    margin: 4px .875rem 4px 1rem;
}
.embedAuthor-3l5luH, .embedDescription-1Cuq9a, .embedFields-2IPs5Z, .embedFooter-3yVop-, .embedMedia-1guQoW, .embedProvider-3k5pfl, .embedTitle-3OXDkz {
    min-width: 0;
}
.embedFooter-3yVop- {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-row: auto/auto;
    grid-column: 1/1;
}
.embedMargin-UO5XwE {
    margin-top: 8px;
}
.embedFields-2IPs5Z {
    display: grid;
    grid-column: 1/1;
    margin-top: 8px;
    grid-gap: 8px;
}
.embedField-1v-Pnh, .embedFieldName-NFrena {
    font-size: 0.875rem;
    line-height: 1.125rem;
    min-width: 0;
}
.embedFieldName-NFrena {
    color: var(--text-muted);
}
.embedFieldName-NFrena {
    font-weight: 500;
    margin-bottom: 2px;
}
.embedFooterText-28V_Wb {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
    color: var(--text-muted);
}
.embedDescription-1Cuq9a, .embedFieldValue-nELq2s {
    color: var(--text-normal);
}
.embedFieldValue-nELq2s {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 400;
    white-space: pre-line;
    min-width: 0;
}
.embedAuthorName-3mnTWj, .embedTitle-3OXDkz {
    color: var(--header-primary);
}
.container-1ov-mD>* {
    justify-self: start;
    -ms-flex-item-align: start;
    align-self: start;
}
.grid-1nZz7S {
    padding: .5rem 1rem 1rem .75rem;
    display: inline-grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.embedFull-2tM8-- {
    border-left: 4px solid var(--background-tertiary);
    background: var(--background-secondary);
}
.embed-IeVjo6 {
    position: relative;
    display: grid;
    max-width: 520px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
}
.embedDescription-1Cuq9a {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 400;
    white-space: pre-line;
    grid-column: 1/1;
}
.embedTitle-3OXDkz {
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    grid-column: 1/1;
}
.clickable-1JJAn8.container-2Pjhx-:hover, .clickable-1JJAn8.container-2Pjhx-:hover .muted-3mU76i {
    color: var(--interactive-hover);
}
.wrapper-1ucjTd:hover .content-3at_AU {
    background-color: var(--background-modifier-hover);
}
.membersGroup-v9BXpm {
    padding: 24px 8px 0 16px;
    height: 40px;
}
.container-2ax-kl {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    color: var(--channels-default);
}
.member-3-YXUe {
    max-width: 224px;
    margin-left: 8px;
}

.container-2Pjhx- {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    padding: 1px 0;
    border-radius: 4px;
    -webkit-transition: none;
    transition: none;
    color: var(--channels-default);
}
.clickable-1JJAn8.container-2Pjhx-:active, .selected-aXhQR6.container-2Pjhx- {
    color: var(--interactive-active);
}
.selected-aXhQR6 .layout-2DM8Md {
    background-color: var(--background-modifier-selected);
}
.layout-2DM8Md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    height: 42px;
    padding: 0 8px;
}
.avatar-3uk_u9 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 32px;
    height: 32px;
    margin-right: 12px;
}
.content-3QAtGj, .name-uJV0GL {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.content-3QAtGj {
    min-width: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.nameAndDecorators-5FJ2dg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.subText-1KtqkB {
    margin-top: -2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.name-uJV0GL {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}
.roleColor-rz2vM0 {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.wrapper-3t9DeA {
    position: relative;
    border-radius: 50%;
}
.status-1eOIMS, .svg-2V3M55 {
    position: absolute;
}

.mask-1l8v16 {
    pointer-events: none;
    position: relative;
    display: block;
    height: 100%;
    width: auto;
}
.hiddenMembers-2dcs_q {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.membersWrap-2h-GB4 {
    min-width: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.members-1998pB {
    width: 240px;
    background-color: var(--background-secondary);
    padding: 0 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.membersGroup-v9BXpm {
    padding: 24px 8px 0 16px;
    height: 40px;
}
.avatar-VxgULZ, .avatar-VxgULZ:before {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.chat-cat-channel:hover, .member-3-YXUe:hover {
    background-color: var(--background-modifier-hover);
}
.chat-cat-channel:hover {
    cursor: pointer;
}
.scroller-2FKFPG::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}
.scroller-2FKFPG::-webkit-scrollbar-corner {
    background-color: transparent;
}
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
    border-color: transparent;
}
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: #202225;
    border-color: #36393f;
}
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: #202225;
    border-color: transparent;
}
.scroller-2FKFPG::-webkit-scrollbar-thumb, .scroller-2FKFPG::-webkit-scrollbar-track {
    background-clip: padding-box;
    border-width: 4px;
    border-style: solid;
    border-radius: 8px;
}
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-track {
    background-color: transparent;
    border-color: transparent;
}
.scroller-2FKFPG::-webkit-scrollbar-track {
    border-width: initial;
}
.scroller-2FKFPG::-webkit-scrollbar-thumb, .scroller-2FKFPG::-webkit-scrollbar-track {
    background-clip: padding-box;
    border-width: 4px;
    border-style: solid;
    border-radius: 8px;
}
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    background-color: #2f3136;
    border: 4px solid #36393f;
    border-radius: 8px;
}
.chat-unread-blob {
    background-color: var(--interactive-active);
    position: absolute;
    height: 8px;
    width: 4px;
    border-radius: 0 4px 4px 0;
    top: 50%;
    left: 0;
    margin-top: -4px;
}
.chat-unread > a {
    color: var(--interactive-active);
}
.msg-unread {
    border-color: #cc1c1c;
}
.msg-unread span {
    color: #cc1c1c;
}
.chat-chnl-name a {
    color: var(--channels-default);
}
.wrapper-1ucjTd {
    height: 34px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.content-3at_AU {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 32px;
    padding: 0 8px;
    margin: 1px 0 1px 8px;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}
.name-3_Dsmg a {
    color: var(--channels-default);
}
.chat-unread a {
    color: var(--interactive-active);
}
.name-3_Dsmg a {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.modeSelected-1zApJ_ .content-3at_AU, .modeSelected-1zApJ_:hover .content-3at_AU {
    background-color: var(--background-modifier-selected);
}