table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

th, td {
    text-align: left;
    padding: 12px;
}

tr {
    border-bottom: 1px solid #ddd;
}

tr.header, tr:hover {
    background-color: #f1f1f1;
}

input {
    margin-left: 2px;
}

tr, td {
    align-content: center;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

ul {
    padding-left: 1em;
}